<ion-card>
    <ion-item>
      <ion-item  slot="start">
        <ion-label >Reason</ion-label>
      </ion-item>
      <ion-item slot="end">
        <ion-label >Amount ( <i class="fa fa-rupee"></i> ) </ion-label>
      </ion-item>
   </ion-item>
</ion-card>
<ion-content>
  <ion-card>
    <ion-list sticky>
      <ion-item *ngFor="let expense of expenses">
        <ion-item slot="start">
          <ion-label>{{expense.expenseReason}}</ion-label>
        </ion-item>
        <ion-item slot="end">
          <i class="fa fa-rupee"></i>
          <ion-label> {{expense.expenseAmount}}</ion-label>
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

