<ion-header >
  <ion-toolbar color="primary" >
    <ion-title>
      Expense Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="add-new-expense">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Add Expense</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="show-expenses">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Show</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
